<app-header></app-header>
<main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Manage Video</h1>
        
    </div>
    <form #formData="ngForm" (ngSubmit)="saveVideo(formData)">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-6 p-3">
                <h4>Import Video Link</h4>
                <input type="text" class="form-control" name="videoLink" placeholder="Video Link" ngModel required>
            </div>
        </div>
        <div class="container mt-2">
            <button type="submit" class="btn btn-info" [disabled]="!formData.valid">Save Link</button>
        </div>
    </form>
    <hr>
    <div class="d-lg-flex justify-content-between align-items-center pt-3 pb-2 my-3 border-bottom">
        <h2>All videoLink</h2>
    </div>
    <div class="row w-100">
        <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Sr. No.</th>
                  <th>Video Link</th>
                  <th>Delete</th>
                  
               
                </tr>
              </thead>
              <tbody>
                <tr  *ngFor="let post of allVideo; let i = index">
                  <td>{{i+1}}</td>

                  <td>{{post.videoLink}}</td>

                  <td><a (click)="deletePost(post.id)"><i class="fa fa-trash text-danger" aria-hidden="true"></i></a></td>
                  <!-- <td><a ><i class="fa fa-pencil-square-o text-warning" aria-hidden="true"></i></a></td> -->
                
                </tr>
 
              </tbody>
            </table>
          </div>
    </div>
   




</main>