
<app-header></app-header>
<main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Manage Product</h1>
      
    </div>
   
    <form #formData="ngForm" (ngSubmit)="addPost(formData)" class="ng-dirty ng-touched ng-valid">
        
               <div class="row">
                    <div class="col-lg-3 col-md-3 col-12 p-3">
                        <h4>Title</h4>
                        <input type="text" class="form-control" name="title" placeholder="Title" ngModel required>
                    </div>
                    <div class="col-lg-6 col-md-3 col-12 p-3">
                        <h4>Sub Title</h4>
                        <input type="text" class="form-control" name="subTitle" placeholder="Sub Title" ngModel required>
                    </div>
                
                    <div class="col-lg-4 col-md-3 col-12 my-auto">
                        <h4>Blog Category</h4>
                        <div class="form-group">
                            <select required class="form-control" ngModel name="blogCategory" id="exampleFormControlSelect1">
                              <option>Select Category</option>
                              <option value="Technology">Technology</option>
                              <option value="Health & Beauty">Health & Beauty</option>
                              <option value="Nature & Wellness">Nature & Wellness</option>
                              <option value="Travel">Travel</option>
                              <option value="AutoMobile">AutoMobile</option>
                              <option value="History">History</option>
                              <option value="Current Affairs">Current Affairs</option>
                              <option value="Earn Money Online">Earn Money Online</option>
                            </select>
                          </div>
                    </div>
                    <div class="col-lg-2 col-md-2"></div>
                    <div class="col-lg-6 col-md-6 col-12 p-3">
                        <h4 class="text-center">Blog Image</h4>
                        <div class="text-center">
                          <img [src]="defaultImg" class="img-fluid" style="height:200px; width:200px;"  (click)="fileuploader.click()">
                          <input type="file" #fileuploader  (change)="processFile($event)" ngModel required name="coverImage" style="display: none;" class="ml-5 text-white btn form-control"><br><br>
                          <button type="button" (click)="fileuploader.click()" class="btn btn-primary">Upload</button>
                        </div>
                    </div>
                  </div>
             
            <div class="container">
                <h4>Description</h4>
                <editor ngModel required name="description"
                  [init]="{
                    height: 300,
                    menubar: false,
                    plugins: [
                      'advlist autolink lists link image charmap print preview anchor',
                      'searchreplace visualblocks code fullscreen',
                      'insertdatetime media table paste code help wordcount'
                    ],
                    toolbar:
                      'undo redo | formatselect | bold italic backcolor | \
                      alignleft aligncenter alignright alignjustify | \
                      bullist numlist outdent indent | removeformat | help'
                  }"
                ></editor>
               
            

                
            </div>
            <div class="container mt-2">
                <button type="submit" class="btn btn-info" [disabled]="!formData.valid">Save Post</button>
            </div>
    </form>

    <hr>
    <div class="d-lg-flex justify-content-between align-items-center pt-3 pb-2 my-3 border-bottom">
        <h2>All Products</h2>
    </div>
    <div class="row w-100">
        <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Sr. No.</th>
                  <th>Title</th>
                  <th>Category</th>
                  <th>Blog-Image</th>
                    
                  <th>Delete</th>
                  
               
                </tr>
              </thead>
              <tbody>
                <tr  *ngFor="let post of allPost; let i = index">
                  <td>{{i+1}}</td>

                  <td>{{post.title}}</td>
                  <td>{{post.blogCategory}}</td>
                  <td><img src={{post.url}} class="img-fluid" style="border-radius: 50%; height: 50px; width: 50px;"></td>

                  <td><a (click)="deletePost(post.id,post.imagePath)"><i class="fa fa-trash text-danger" aria-hidden="true"></i></a></td>
                  <!-- <td><a ><i class="fa fa-pencil-square-o text-warning" aria-hidden="true"></i></a></td> -->
                
                </tr>
 
              </tbody>
            </table>
          </div>
    </div>
   




    
   </main>
